<div class="alert alert-success">
    <strong>Succès !</strong> Votre rendez-vous a été transmit au medecin {{ rdv.medecin.nom }} {{ rdv.medecin.prenom }} ,
    Veuillez vérifier votre profile pour la confirmation du RDV
</div>