
<h1 style="text-align: center">Fiche du patient</h1>

<table >

    <tr>
        <td >Nom&Pénom : {{ rdv.utilisateur.nom }} {{ rdv.utilisateur.prenom }}</td>

    </tr>
    <tr>
        <td>Date: {{ rdv.date }}</td>
        <td>Heure: {{ rdv.heure }}</td>
    </tr>

</table>
